h2 {
    color: red;
}


h4 {
    text-align: right; 
    font-family: 'Arial', sans-serif;
    margin:20px;
    color: blue;
    

}

a:hover {
    color: blueviolet;
    
}

#advanced {
    background-color: #4285F4 ;
    color: white;
    align-items: center;
    border-radius: 0px;


}


input {
    border-radius: 20px;
    border-color: darkgray;
    padding: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: left;
}



body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    
}

.left {
    text-align: left;
    border-radius: 0px
    
}



